[submodule "themes/sky"]
	path = themes/sky
	url = https://github.com/iJinxin/hexo-theme-sky.git
[submodule "themes/fengye"]
	path = themes/fengye
	url = git@github.com:AmirMohamadBabaee/hexo-theme-fengye.git
